extends ../includes/head.pug

block title 
    title Admin Products 

block styles
    link(rel="stylesheet" href="/scss/main.css")
    link(rel="stylesheet" href="/scss/product.css")

block content 
    main 
        if prods.length > 0
            div(class="d-flex flex-column flex-sm-row justify-content-evenly") 
                each product in prods 
                    div(class="card col-sm-6 col-md-4 col-lg-3 col-xl-2 m-2 border-light")
                        div(class="card-header text-center") #{product.title}
                        img(
                            src=product.imageUrl,
                            alt=product.title
                            )
                        .card-body 
                            h5(class="card-title text-center") #{product.price}$
                            p(class="card-text text-center") #{product.description}
                        div(class="container d-flex flex-column my-2")
                            div(class="container text-center my-2")
                                a(
                                    href="/admin/edit-product/" + product._id + "?edit=true"
                                    class="btn") Edit 
                            div(class="container text-center")
                                form(
                                    action="/admin/delete-product"
                                    method="POST")
                                    input(
                                        type="hidden"
                                        name="productId"
                                        value=product._id)
                                    button.btn(type="submit") Delete
        else 
            h1 No products found!


block scripts 
    script(src="/js/main.js")
    script(src="bootstrap/dist/js/bootstrap.bundle.js")