extends ../includes/head.pug

block title 
    title Admin Products 

block styles
    link(rel="stylesheet" href="/styles/main.css")
    link(rel="stylesheet" href="/styles/product.css")

block content 
    main(class="text-center")
        if prods.length > 0
            div(class="row row-cols-1 row-cols-md-3 g-4 align-items-top") 
                each product in prods 
                    div(class="col text-center d-flex justify-content-center")
                        div(class="card col-xl-12 border-dark bg-dark text-light")
                            div(class="card-header text-center") #{product.title}
                            img(
                                src=product.imageUrl,
                                alt=product.title
                                )
                            .card-body 
                                h5(class="card-title text-center") #{product.price}$
                                div(class="card-text text-center") #{product.description}
                            div(class="container d-flex flex-column my-2")
                                div(class="container text-center")
                                    a(
                                        href="/admin/edit-product/" + product._id + "?edit=true"
                                        class="btn bg-dark") Edit 
                                    form(
                                        action="/admin/delete-product"
                                        method="POST")
                                        input(
                                            type="hidden"
                                            value=csrfToken
                                            name="_csrf")
                                        input(
                                            type="hidden"
                                            name="productId"
                                            value=product._id)
                                        button(type="submit" class="btn danger bg-dark") Delete
        else 
            h1(class="text-light text-align-center") No products here (yet?)


block scripts 
    script(src="/js/main.js")
    script(src="bootstrap/dist/js/bootstrap.bundle.js")