doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        style @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
        //- link(rel="preconnect" href="https://fonts.googleapis.com")
        //- link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        //- link(href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet")
        block title 
        link(rel="stylesheet" href="bootstrap/dist/css/bootstrap.css")
        block styles 
    body 
        nav(class="navbar navbar-expand-md navbar-dark bg-dark")
            .container-fluid 
                button.navbar-toggler(
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarNav"
                    aria-controls="navbarNav"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                    )
                    span.navbar-toggler-icon 
                div(class="collapse navbar-collapse" id="navbarNav")
                    ul(class="navbar-nav ma-auto mb-2 mb-lg-0")
                        li.nav-item 
                            a(
                                class= path==='/' ? 'nav-link active': 'nav-link'
                                href="/"
                            ) Shop
                        if isAuthenticated
                            li.nav-item 
                                a(
                                    class= path==='/cart' ? 'nav-link active': 'nav-link'
                                    href="/cart"
                                ) Cart
                            li.nav-item 
                                a(
                                    class= path==='/orders' ? 'nav-link active': 'nav-link'
                                    href="/orders"
                                ) Orders
                            li.nav-item 
                                a(
                                    class= path==='/admin/products' ? 'nav-link active': 'nav-link'
                                    href="/admin/products"
                                ) Admin products
                            li.nav-item 
                                a(
                                    class= path==='/admin/add-product' ? 'nav-link active': 'nav-link'
                                    href="/admin/add-product"
                                ) Add product
                    ul(class="navbar-nav ms-auto mb-2 mb-lg-0")
                        if isAuthenticated
                            li(class="nav-item")  
                                .nav-link.disabled Hi, #{user.name}!
                            li(class="nav-item")                        
                                form(action="/auth/sign-out" method="POST")
                                    input(
                                        type="hidden"
                                        value=csrfToken
                                        name="_csrf")
                                    button(class='btn nav-link' type='submit') Sign out
                        else
                            li(class="nav-item")
                                a(
                                    class= path==='/auth/sign-in' ? 'nav-link active': 'nav-link'
                                    href="/auth/sign-in"
                                ) Sign in
                            li(class="nav-item")
                                a(
                                    class= path==='/auth/sign-up' ? 'nav-link active': 'nav-link'
                                    href="/auth/sign-up"
                                ) Sign up
        block content
        block footer
        block scripts 