extends ../includes/head.pug

block title 
    title #{pageTitle}

block styles 
    link(rel="stylesheet" href="/styles/main.css")

block content
    main(class="text-center")
        if products.length > 0
            div(class="d-flex flex-column align-items-center")
                each item in products
                    div(class="card m-3 w-75 text-center center border-dark bg-dark text-light p-3 active")
                        h1.card-title #{item.productId.title}
                        p.card-text Quantity: #{item.quantity}
                        form(action="/cart-delete-item" method="POST")
                            input(
                                type="hidden"
                                value=item.productId._id
                                name="productId"
                                )
                            input(
                                type="hidden"
                                value=csrfToken
                                name="_csrf")
                            .container
                                button(class="btn danger bg-dark" type="submit")
                                    a Delete
            hr
            .centered 
                form(action="/create-order" method="POST" class="container")
                    input(
                        type="hidden"
                        value=csrfToken
                        name="_csrf")
                    button(type="submit" class="btn bg-dark")
                        a Checkout 
        else
            h1(class="text-light text-align-center active") Looks like your cart is empty🤔
block scripts 
    script(src="/js/main.js")
    script(src="bootstrap/dist/js/bootstrap.bundle.js") 