extends ../includes/head.pug

block title 
    title Shop 

block styles 
    link(rel="stylesheet" href="/scss/main.css")
    link(rel="stylesheet" href="/scss/product.css")

block content 
    main 
        if prods.length > 0
            div(class="row row-cols-1 row-cols-md-3 g-4 align-items-top") 
                each product in prods
                    div(class="col text-center d-flex justify-content-center")
                        div(class="card col-xl-8 border-dark bg-dark text-light")
                            div(class="card-header text-center") #{product.title}
                            img(src=product.imageUrl alt=product.title)
                            .card-body 
                                h5(class="card-title text-center") #{product.price}$
                                p(class="card-text text-center") #{product.description}
                            div(class="container d-flex flex-column my-2")
                                div(class="container text-center")
                                    a(
                                        href="/products/" + product._id
                                        class="btn btn-outline-primary bg-dark") Details
                                    form(action="/cart" method="POST")
                                        button(
                                            class="btn btn-outline-primary bg-dark"
                                            type="submit") Add to cart
                                        input(
                                            type="hidden"
                                            name="productId"
                                            value=product._id
                                            )
        else 
            h1 No products Found!
block scripts 
    script(src="/js/main.js")
    script(src="bootstrap/dist/js/bootstrap.bundle.js") 

