extends ../includes/head.pug

block title 
    title #{product.title} Details 

block styles
    link(rel="stylesheet" href="/scss/main.css")

block content 
    div(class="d-flex flex-column align-items-center m-3") 
        div(class="card bg-dark")
            div(class="card-header text-center text-light") #{product.title}
            img(
                src=product.imageUrl
                alt=product.title)
            .card-body
                h5(class="card-title text-center text-light") #{product.price} $
                p(class="card-text text-center text-light") #{product.description}
                .card__actions 
                    form(action="/cart" method="POST")
                        button(type="submit" class="btn bg-dark") Add to Cart 
                        input(type="hidden" name="productId" value=product._id)

block scripts 
    script(src="/js/main.js")
    script(src="bootstrap/dist/js/bootstrap.bundle.js")